.navbar {
  background-color: rgb(24, 24, 24);
  & * {
    color: rgb(200, 200, 200);
  }
}
.nav-link,
.btn {
  font-size: 1.6rem;
}
.navbar-brand {
  font-size: 2.5rem;
  & svg {
    fill: rgb(200, 200, 200);
  }
  &:hover {
    color: inherit;
  }
}
.nav-link,
.navbar-brand {
  &:hover,
  &:active,
  &:focus {
    color: rgb(255, 255, 255);
  }
}
.navbar-toggler {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(200, 200, 200)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.btn-carrito{
  background-color: rgb(255, 208, 0);
  color: rgb(24, 24, 24);
  font-weight: 700;
}
